@import '../../index.scss';

.portfolio {
  width: 100%;
  height: 100vh;
  display: flex; 
  overflow-y: scroll;
  scrollbar-width: none;
    &::-webkit-scrollbar { 
      width: 0;
      height: 0;
  }
}
.portfolio__wrap{
  display: flex;
  flex-direction: column;
  flex: 0 1 80%;
  margin: 50px auto; 
  @media (max-width:1245px) {
    flex: 0 1 100%
  }

}
.portfolio__title{
  margin-bottom: 50px;
}
.portfolio__cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
  @media (max-width: 1000px){
  gap: 30px;
  }
}