@import '../../index.scss';
.skill{
  width: 150px;
  height: 150px;
  background: rgba(96, 231, 250, 0.14);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -2px -2px 4px -2px #60E7FA, inset -3px -3px 10px -4px rgba(24, 24, 24, 0.6), inset 3px 3px 8px -7px #60E7FA;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  @media (max-width: 820px) {
    width: 125px;
    height: 125px;
  }
  @media (max-width: 520px) {
    width: 100px;
    height: 100px;
  }
}
.skill__img{
  width: 60px;
  height: 60px;
}
.skill__bar{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(96, 231, 250, 0.22);
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  
  &:before{
  position: absolute;
  content: '';
  top: -50%;
  left: -50%;
  width: 15px;
  height: 220%;
  transform: rotate(-45deg);
  background-color: rgba($color: $color_blue , $alpha: 0.4);
  filter: blur(15px);
  animation: preload 4.3s infinite;
}
}
@keyframes preload {
  0%{
    left: -50%;
  }
  10%{
   left: 180%;

  }
  100%{
    left: 181%;
  }
  
}