@import '../../index.scss';

.nav-body{
  
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin: 140px 0;
  padding-left: 30px;

}

.nav-item{
  @include menu-text;
  color: $color_white;
  cursor: pointer;
  
  transition: all 0.3s ease;
  align-self: start;
}
.nav-item:hover{
  color: $color_blue;
}
.nav-item.active{
  color: $color_blue_active;
  position: relative;
  transition: all 0.3s ease;
}
.nav-item:after,
.nav-item:before{
  content: '';
  width: 0px;
  height: 2px;
  background: $color_blue_active;
  position: absolute;
  transition: all 0.3s ease;
}
.nav-item.active::after,
.nav-item.active::before{
  content: '';
  width: 30px;
  height: 2px;
  background: $color_blue_active;
  position: absolute;
  transition: all 0.3s ease;
}
.nav-item.active::after{
  top: 0;
  right: 0;
}
.nav-item.active::before{
 bottom: 0;
 left: 0;
}