@import '../../index.scss';
.nav{
  height: 100vh;
  display: flex;
  flex: 1 1 400px;
  flex-direction: column;
  border-right: 2px solid rgba(96, 231, 250, 0.6);
  background: rgba(255, 255, 255, 0.05);
  justify-content: space-between;
  transition: all 0.3s ease;
    @media (max-width:767px) {
      position: fixed;
      background: rgba(0, 0, 0, 0.85);
      min-width: 375px;
      z-index: 5;
      transform: translateX(-105%);
    }
    @media (max-width: 375px){
    min-width: 100%;
    }
}
.nav.active{
  transform: translateX(0);
}
.nav__footer{
  width: 100%;
  height: 173px;
  display: flex;
  justify-content: center;
  align-self: end;
  
 
}
.social{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  
}
.social__item{
  height: 50px;
}

.social__item a{
  display: flex;
  font-size: 50px;
  color: $color_blue_active;
  transition: all 0.3s ease;
  &:hover{
    color: $color_blue;
  }
  @media (max-width:768px) {
    font-size: 40px;
    
  }
  @media (max-width:426px) {
    font-size: 35px;
    
  }
}
