@import '../../index.scss';

.nav__body{
  display: flex;
  flex-direction: column;
  margin: 140px 0;
  padding-left: 30px;
 @media (max-height: 740px) {
  margin: 70px 0 40px;
 }
 @media (max-height: 570px) {
  margin: 50px 0 30px;
 }
 @media (max-height: 490px) {
  margin: 40px 0 20px;
 }
}
.nav__body.blocked{
  pointer-events: none;
}
.nav__item{
  @include menu-text;
  line-height: 60px;
  color: $color_white;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: start;
  &:hover{
    color: $color_blue;
  }
  &:after,
  &:before{
    content: '';
    width: 0px;
    height: 2px;
    background: $color_blue_active;
    position: absolute;
    transition: all 0.3s ease;
  }
  @media (max-height: 540px){
    line-height:50px;
  }
  @media (max-height: 490px){
    line-height:42px;
  }
  @media (max-height: 400px){
    line-height:35px;
  }
}
.nav__item.active{
  color: $color_blue_active;
  position: relative;
  transition: all 0.3s ease;
  &:after,
  &:before{
    content: '';
    width: 30px;
    height: 2px;
    background: $color_blue_active;
    position: absolute;
    transition: all 0.3s ease;
  }
  &:after{
    top: 0;
    right: 0;
  }
  &:before{
    bottom: 0;
    left: 0;
  }
}