@import '../../index.scss';
.nav{
  height: 100vh;
  display: flex;
  flex: 1 1 400px;
  flex-direction: column;
  border-right: 2px solid rgba(96, 231, 250, 0.6);
  background: rgba(255, 255, 255, 0.05);
  justify-content: space-between;
}

.nav-footer{
  width: 100%;
  height: 173px;
  display: flex;
  justify-content: center;
  align-self: end;
  
 
}
.social{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  
}
.social-item{
  height: 50px;
}

.social-item a{
  display: flex;
  font-size: 50px;
  color: $color_blue_active;
  transition: all 0.3s ease;
  &:hover{
    color: $color_blue;
  }
}
