@import '../../index.scss';
.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-title{
  @include h3-text;
  font-size: 30px;
}
.contact-form label{
  @include h3-text;
  font-size: 18px;
  color: $color_blue;
  line-height: normal;
  margin: 5px 0;
}

.contact-form input,
.contact-form textarea{
  background-color: rgba($color: $color_blue , $alpha: .3);
  width: 350px;
  height: 35px;
  font-size: 16px;
  color: $color_white;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -2px -2px 4px -2px #60E7FA, inset -3px -3px 10px -4px rgba(24, 24, 24, 0.6), inset 3px 3px 8px -7px #60E7FA;
  padding-left: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  &:focus{
    box-shadow: inset 0 0 5px 1px $color_blue_active;
  }
  &:active{
    background-color: rgba($color: $color_blue , $alpha: .3);
  }
}
.contact-form textarea{
  height: 100px;
  width: 340px;
  resize: none;
  outline: none;
  padding: 10px 0 0 10px;
  border: none;
}
.frog{
  width: 250px;
  height: 260px;
  position: absolute;
  bottom: -140px;
  left: 0;
  pointer-events: none;
  background: url('../../../public/img/frog/1.png');
  background-size: 150%;
  background-position: center;
  transform: translateX(-400px);
  transition: all 0.3s;
  
}

.frog.active{
  transform: translate(-340px);
}
.frog.animated{
  animation: animated 2s ease;
}
@keyframes animated {
  0%{
    transform: translate(-340px);
    background-image: url('../../../public/img/frog/1.png');
  }
  10%{
    transform: translate(-250px);
    background-image: url('../../../public/img/frog/2.png');
  }
  20%{
    transform: translate(-200px);
    background-image: url('../../../public/img/frog/3.png');
  }
  30%{
    transform: translate(-100px);
    background-image: url('../../../public/img/frog/4.png');
  }
  40%{
    transform: translate(0px);
    background-image: url('../../../public/img/frog/5.png');
  }
  50%{
    transform: translate(50px);
    background-image: url('../../../public/img/frog/6.png');
  }
  60%{
    transform: translate(50px);
    background-image: url('../../../public/img/frog/7.png');
  }
  70%{
    transform: translate(50px);
    background-image: url('../../../public/img/frog/8.png');
  }
  80%{
    transform: translate(50px);
    background-image: url('../../../public/img/frog/8.png');
  }
  90%{
    transform: translate(50px);
    background-image: url('../../../public/img/frog/9.png');
  }
  100%{
    transform: translate(50px);
    background-image: url('../../../public/img/frog/10.png');
  }

}

.contact-form button{
  width: 140px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -2px -2px 4px -2px #60E7FA, inset -3px -3px 10px -4px rgba(24, 24, 24, 0.6), inset 3px 3px 8px -7px #60E7FA;
  background-color: rgba($color: $color_blue , $alpha: .7);
  font-size: 18px;
  font-family: 'Montserrat';
  color: $color_white;
  transition: all 0.3s ease;
  margin-top: 20px;
 
  cursor: pointer;
  &:hover{
    background: rgba($color: $color_blue_active , $alpha: .7);
  }
 
}
