@import '../../index.scss';
.contacts{
  margin: 50px 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar { 
    width: 0;
    height: 0;
}
  @media (max-width:960px) {
    overflow: scroll;
    }
    scrollbar-width: none;
    &::-webkit-scrollbar { 
      width: 0;
      height: 0;
  }
}
.contacts__wrap{
  position:relative;
}
.contacts__title{
  max-width: 230px;
  margin: 50px 0;
  @media (max-width:960px) {
    margin: 10px 0 50px;

      
    }
}
.contacts__list{
  background-color: rgba($color: $color_blue , $alpha: .05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -2px -2px 4px -2px #60E7FA, inset -3px -3px 10px -4px rgba(24, 24, 24, 0.6), inset 3px 3px 8px -7px #60E7FA;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
  padding: 20px;
  border-radius: 10px;
    @media (max-width:1120px) {
      grid-template-columns: repeat(1,1fr);
      gap: 30px;
      min-width: 410px;
      margin: 0 auto;
    }
    @media (max-width: 375px){
      gap: 20px;
      padding: 15px;
      min-width: 230px;
      }
}
.contats__list-item,
.contats__list-item address,
.contats__list-item a{
  display: flex;
  gap: 30px;
  color: $color_blue;
  @include adaptiv-font(30,20, 34,24);
  transition:all 0.3s ease;
  @media (max-width: 375px){
  gap: 10px;
  }
}
.contats__list-item a{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    transition:all 0.3s ease;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 1px;
    background: $color_blue_active;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -2px -2px 4px -2px #60E7FA, inset -3px -3px 10px -4px rgba(24, 24, 24, 0.6), inset 3px 3px 8px -7px #60E7FA;
  }
}
.contats__list-item a:hover{
  position: relative;
  &:after{
    width: 100%;
  }
}
.contats__list-item i {
  color: $color_blue_active;
  font-size: 30px;
}
